.car-list,
.car-list__item {
    border-color: hsla(0, 0%, 0%, 0.2);
}
.car-list__item {
    box-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.car-list__item:hover {
    background-color: #F5F6FF;
}
.car-list__input {
    background-color: hsl(0, 0%, 95%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.car-list__input:focus-within{
    background-color: #F5F6FF;
}