/* Car List 디자인 */
.car-list{
    position: relative;
}
.car-list,
.car-list__item {
    border-color: hsla(0, 0%, 0%, 0.2);
}
.car-list__item {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.car-list__item:hover {
    background-color: #F5F6FF;
}
.car-list__input {
    background-color: hsl(0, 0%, 95%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.car-list__input:focus-within{
    background-color: #F5F6FF;
}

/* 개별 차량 표 디자인 */
.th, .td {
    border: 2px solid hsla(0, 0%, 0%, 0.2);
    padding: 10px;
}
.td {
    text-align: center;
}

/* 축소 버튼 디자인 */
.hide-btn{
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    bottom: -24px;
    left: 33%;
    width: 30%;
    cursor: pointer;
}