.overlay-bubble{
  position: relative;
  background: hsl(0, 0%, 100%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: .4em;
  border: 2px solid hsl(0, 0%, 70%);
}

.overlay-bubble:after{
  content: '';
  position: absolute;
  bottom: -0.3em;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: hsl(0, 0%, 70%) transparent;
  z-index: 1;
  margin-left: -0.625em;
	margin-bottom: -0.625em;
}